:root {
  --background-color: #435165;
  --background-color-secondary: #191e24;
  --text-color: #5b6574;
  --text-color-secondary: #ffffff;
  --font-size: 16px;
  --form-control-background: #3274d6;
  --form-control-background-hover: #2868c7;
  --form-control-color: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: var(--font-size);
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
}

body > .flex-container > h1 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: 1.5rem;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  display: flex;
}

.form-control label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--form-control-background);
  color: var(--form-control-color);
}

.form-control input[type="email"],
.form-control input[type="password"],
.form-control input[type="text"] {
  width: auto;
  height: 3rem;
  border: 1px solid #dee0e4;
  padding: 0 1rem;
}

.flex-form button[type="submit"] {
  width: 100%;
  padding: 1rem;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--form-control-background);
  color: var(--form-control-color);
}

.flex-form button[type="submit"]:hover {
  background-color: var(--form-control-background-hover);
  transition: background-color 0.2s;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--background-color-secondary);
  color: var(--text-color-secondary);
}

header a[data-action="logout"] {
  position: absolute;
  right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #ffffff;
  padding: 1rem;
  min-width: 800px;
  max-width: 1200px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  background: var(--background-color-secondary);
  color: var(--text-color-secondary);
}
